<!-- Posts section -->
<section class="m-auto">
    <div class="w-7/12 m-auto">
        <button class="mb-16">All posts</button>

        <div class="flex flex-col">

            <div class="card space-y-10 m-auto">

                <div class="flex h-80 w-full shadow-lg rounded-xl overflow-hidden">
                    <div class="basis-1/2 ">
                        <img class="h-full w-full rounded-l-xl"
                            src="https://images.unsplash.com/photo-1524592094714-0f0654e20314?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2F0Y2h8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
                    </div>
                    <div class="p-4 pl-6 basis-1/2">
                        <h4 class="card-title-font">
                            Life Calendar
                        </h4>
                        <div class="overflow-hidden">
                            <p>Lorem ipusom dolor nz t hs dshsq sd dshd s d sd dss sdsdd sssssssssss Engineer L
                                Lorem ipusom dolor nz t hs dshsq sd dshd s d sd dss sdsdd sssssssssss Engineer
                                Lorem ipusom dolor nz t hs1 dshsq sd dshd s d sd dss sdsdd sssssssssss Engineer
                                Lorem ipuso</p>
                        </div>
                        <span>25 J'aime</span>
                        <span>10 Comments</span>
                    </div>
                </div>

                <div class="flex h-80 w-full shadow-xl rounded-xl overflow-hidden">
                    <div class="basis-1/2 ">
                        <img class="h-full w-full rounded-l-xl"
                            src="https://images.unsplash.com/photo-1524592094714-0f0654e20314?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2F0Y2h8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
                    </div>
                    <div class="p-4 pl-6 basis-1/2">
                        <h4 style="font-size: 28px;
                                letter-spacing: -.5px;
                                font-weight: 700;
                                line-height: 1.2;">
                            Life Calendar</h4>
                        <div class="overflow-hidden">
                            <p>Lorem ipusom dolor nz t hs dshsq sd dshd s d sd dss sdsdd sssssssssss Engineer L
                                Lorem ipusom dolor nz t hs dshsq sd dshd s d sd dss sdsdd sssssssssss Engineer
                                Lorem ipusom dolor nz t hs1 dshsq sd dshd s d sd dss sdsdd sssssssssss Engineer
                                Lorem ipuso</p>
                        </div>
                        <span>25 J'aime</span>
                        <span>10 Comments</span>
                    </div>
                </div>

                <div class="flex h-80 w-full shadow-2xl rounded-xl overflow-hidden">
                    <div class="basis-1/2 ">
                        <img class="h-full w-full rounded-l-xl"
                            src="https://images.unsplash.com/photo-1524592094714-0f0654e20314?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2F0Y2h8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
                    </div>
                    <div class="p-4 pl-6 basis-1/2">
                        <h4>
                            Life Calendar</h4>
                        <div class="overflow-hidden">
                            <p>Lorem ipusom dolor nz t hs dshsq sd dshd s d sd dss sdsdd sssssssssss Engineer L
                                Lorem ipusom dolor nz t hs dshsq sd dshd s d sd dss sdsdd sssssssssss Engineer
                                Lorem ipusom dolor nz t hs1 dshsq sd dshd s d sd dss sdsdd sssssssssss Engineer
                                Lorem ipuso</p>
                        </div>
                        <span>25 J'aime</span>
                        <span>10 Comments</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
