<div class="">


    <div class="container w-3/4 m-auto pt-5">
        <p class="text-xl p-3 bg-rose-900 text-white opacity-90 rounded">⚠️ The content of this part is under development.</p>

        <h1 class="text-4xl">Deaths caused by Air Pollution Arround the World</h1>
        <h2 class="mt-10 text-3xl">Context</h2>
        <p class="text-xl">Air pollution has caused thousands of deaths over the years.
            Kevin, Hanae and I decided to study those data to see how it impacted North and West Africa
            But the data we found on the Internet was not a the right format for our project.
            That's why we decided to perform ETL on them.
        </p>
        <p class="text-xl">The following image shows what the original dataset looked like.</p>
        <img alt="Air Pollution dataset"
            class="w-full  ml-2 sm:ml-0 object-contain h-64 lg:h-80 xl:h-88 xl:object-fill  shadow-lg mt-4 reveal-project"
            src="../../../assets/portfolio/air-pollution/dataset.png">


        <h2 class="mt-10 text-3xl">Entity Relationsip Diagram</h2>
        <p class="text-xl">
            We decided to transform each type of pollution into a hierarchy, and created 2 dimensions Country, Year and
            a
            table
            Pollution which served as a link between the Hierarchies and the dimensions.
            Finally, our table fact contained the measures and the KPI.
        </p>

        <img alt="Air Pollution Entity Relationship Diagram"
        class="w-full  ml-2 sm:ml-0 object-contain h-64 lg:h-80 xl:h-88 xl:object-fill  shadow-lg mt-4 reveal-project"
            src="../../../assets/portfolio/air-pollution/er-diagram.png">


        <h2 class="mt-10 text-3xl">ETL</h2>
        <p class="text-xl">
            The ETL involved exttracting data form Excel files to create the hierachies,
            then we used SQL to get the hierachies ID and store them in the dimension Pollution.
            For the fact table, we used SQL to get all the measures and relevant IDs.
        </p>

        <div class="slider-wrapper max-w-2xl">
            <button class="slide-arrow bg-rose-900 text-white" id="slide-arrow-prev">
                &#8249;
            </button>
            <button class="slide-arrow bg-rose-900 text-white" id="slide-arrow-next">
                &#8250;
            </button>
            <ul class="slides-container" id="slides-container">
                <li class="slide">
                    <img alt="ETL Dimensions"
                        class="w-full  ml-2 sm:ml-0 object-contain h-64 lg:h-80 xl:h-88 xl:object-fill  shadow-lg mt-4 reveal-project"
                        src="../../../assets/portfolio/air-pollution/etl-dimensions.png">
                </li>
                <li class="slide">
                    <img alt="ETL Hierarchies"
                        class="w-full  ml-2 sm:ml-0 object-contain h-64 lg:h-80 xl:h-88 xl:object-fill  shadow-lg mt-4 reveal-project"
                        src="../../../assets/portfolio/air-pollution/etl-hierarchies.png">
                </li>
                <li class="slide">
                    <img alt="ETL Fact"
                        class="w-full  ml-2 sm:ml-0 object-contain h-64 lg:h-80 xl:h-88 xl:object-fill  shadow-lg mt-4 reveal-project"
                        src="../../../assets/portfolio/air-pollution/etl-fact.png">

                </li>
            </ul>
        </div>



        <h2 class="mt-10 text-3xl">Results</h2>
        <p class="text-xl">
            In the end, we got these beautifully formatted tables ready for analysis and visualization.
        </p>
        <div class="slider-wrapper max-w-2xl">
            <button class="slide-arrow bg-rose-900 text-white" id="slide-arrow-prev">
                &#8249;
            </button>
            <button class="slide-arrow bg-rose-900 text-white" id="slide-arrow-next">
                &#8250;
            </button>
            <ul class="slides-container" id="slides-container">
                <li class="slide">
                    <img class="w-full  ml-2 sm:ml-0 object-contain h-64 lg:h-80 xl:h-88 xl:object-fill  shadow-lg mt-4 reveal-project"
                        src="../../../assets/portfolio/air-pollution/fact-death.png">
                </li>
                <li class="slide">
                    <img class="w-full  ml-2 sm:ml-0 object-contain h-64 lg:h-80 xl:h-88 xl:object-fill  shadow-lg mt-4 reveal-project"
                        src="../../../assets/portfolio/air-pollution/dim-country.png">

                </li>
                <li class="slide">
                    <img class="w-full  ml-2 sm:ml-0 object-contain h-64 lg:h-80 xl:h-88 xl:object-fill  shadow-lg mt-4 reveal-project"
                        src="../../../assets/portfolio/air-pollution/dim-pollution.png">

                </li>
                <li class="slide">
                    <img class="w-full  ml-2 sm:ml-0 object-contain h-64 lg:h-80 xl:h-88 xl:object-fill  shadow-lg mt-4 reveal-project"
                        src="../../../assets/portfolio/air-pollution/dim-year.png">
                </li>
                <li class="slide">
                    <img class="w-full  ml-2 sm:ml-0 object-contain h-64 lg:h-80 xl:h-88 xl:object-fill  shadow-lg mt-4 reveal-project"
                        src="../../../assets/portfolio/air-pollution/hier_householdp.png">
                </li>
                <li class="slide">
                    <img class="w-full  ml-2 sm:ml-0 object-contain h-64 lg:h-80 xl:h-88 xl:object-fill  shadow-lg mt-4 reveal-project"
                        src="../../../assets/portfolio/air-pollution/hier-ambiant-ozonep.png">
                </li>
                <li class="slide">
                    <img class="w-full  ml-2 sm:ml-0 object-contain h-64 lg:h-80 xl:h-88 xl:object-fill  shadow-lg mt-4 reveal-project"
                        src="../../../assets/portfolio/air-pollution/hier-ambiant-particulatep.png">
                </li>
            </ul>
        </div>



        <h2 class="mt-10 text-3xl">Next</h2>
        In the next part we visualized the data using Power BI.
        And we used Support Vector Regression to predict the air pollution deaths rates in
        Morroco, Guinea and Senegal.

    </div>

</div>