<div class="card m-2.5 rounded-xl overflow-hidden w-3/3 shadow-2xl  font-sans">
    <div class="card-header">
        <img class="w-full h-52 object-cover"
            [src]="image"
            alt="rover" />
    </div>
    <div class="card-body flex flex-col justify-center items-start p-4 min-h-64">
        <span class="bg-blue-700 text-white tag tag-teal rounded-full text-xs
            m-0 px-1 py-0.5 mb-3 uppercase cursor-pointer">
            {{ first_tag }}
        </span>
        <h4 class="card-title-font">
            {{ title }}
        </h4>
        <p class="text-sm">
            {{ description }}
        </p>
        <div class="user flex mt-3">
            <img class="rounded-full w-10 h-10 mr-2.5 object-cover"
                [src]="avatar"
                alt="user" />
            <div class="user-info">
                <h6 class="my-h6 m-0">Becaye Balde</h6>
                <small>2h ago</small>
            </div>
        </div>
    </div>
</div>
