@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
      @apply hover:text-rose-800 hover:opacity-75 ;
    }
}

h6 {
    font-family: "montserrat-bold", sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: .16rem;
}