//----------------------------------------------------------
// Font
//----------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,100;1,200&display=swap');

//--------------------------------------
// GLOBAL STYLES
//--------------------------------------
* {
    font-family: 'Montserrat', Helvetica, Arial, Verdana, sans-serif !important;
    font-weight: 400 !important;
    font-variant: small-caps !important;
}

//--------
// CURSOR
//---------
.cursor {
	height: 1.25rem;
	width: 1.25rem;
	border: 2px solid white;
	border-radius: 50%;
	position: absolute;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-out;
    opacity: 0.7;
    pointer-events: none;
    z-index: 1;
    background: white;
    backdrop-filter: opacity(20%);
}

.cursor-hover {
    background: black !important;
    opacity: 0.5 !important;
    width: 2.25rem !important;
    height: 2.25rem !important;
    border: none !important;
}

.cursor-link-hover {
    opacity: 0.5 !important;
    width: 2.5rem !important;
    height: 2.5rem !important;
    backdrop-filter: grayscale(70%) !important;
}

.cursor-img-hover {
    background: black !important;
    opacity: 0.5 !important;
    width: 7rem !important;
    height: 7rem !important;
    border-radius: 0 !important;
    border: none !important;
    backdrop-filter: grayscale(70%) !important;
}

//---------------------------------------------------------
// Hero
//---------------------------------------------------------
#vertical-line1, #vertical-line2 {
    height: 0;
}

#hero {
    /* Safari height problem */
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-size: cover !important;
    background: url("../../../assets/portfolio/hero-bg.png");
}

#mobile-menu {
    visibility: hidden;
}

header a span {
    padding: 2px;
    border-bottom: 4px solid #881337;
    transition: 1s;
}

header a:hover {
    color: #881337;
}

.letter {
    visibility: hidden;
}

//---------------------------------------------------------
// Work
//---------------------------------------------------------
#work {
    background: url(../../../assets/portfolio/about-bg.jpg);
}

// Reveal effect
#work h1,
#work h2,
#work .reveal-project {
    visibility: hidden;
}

#work p {
    color: #dfdfdf
}

#work h4 {
    font-weight: 700;
    line-height: 40px;
}

#work figure h4, #work figure  p {
    font-variant: small-caps;
}

// figure size on tablets
@media only screen and (min-width: 1024px) and (max-width: 1248px) {
    #work figure {
        width: 95%;
    }
}

#work img {
    width: 50%;
    height: 325px;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.2) 0 7px 29px 0;
}

//---------------------------------------------------------
// About
//---------------------------------------------------------
#about {
    background: black;
    background-size: cover;
}

#about #about-img-wrapper {
    visibility: hidden;
    transition: 1s;
}

#about img {
    transition: 1s;
}

//---------------------------------------------------------
// Footer
//---------------------------------------------------------
footer svg {
    color: inherit;
    // transition: 1s;
}
footer .valid-svg:hover {
    fill: #b13057;
}

// Contact
input,
textarea {
    width: 100%;
    border: none;
    background-color: inherit !important;
    border-radius: 0;
    padding-bottom: 12px;
    opacity: .9;
    font-size: inherit;
    font-family: inherit;
    color: #ffffff !important;
    margin-top: 4px;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    font-variant-caps: normal !important;
}

textarea {
    transition: height;
    transition-duration: .5s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    height: 2.6em;
}

textarea:focus {
    transition-duration: 0.7s;
    font-size: 1rem !important;
    height: 5rem;
    display: block;
}

mat-form-field {
    min-height: 0 !important;
}

/* Reduced form-field height for mobile phones */
// @media (max-width: 639px) {
//     ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
//         height: 71px !important;
//     }
// }

/* Font color & size */
::ng-deep input.mat-input-element {
    color: white;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important;
}

::ng-deep mat-form-field {
    .mat-hint, input, ::placeholder, .mat-form-field-label {
        color: white !important;
        font-size: 1.1rem !important;
    }
}
