<div class="bg-black text-white p-6">
    <h6 class="text-center text-4xl text-rose-800">&#60; Becaye / &#62;</h6>
    
    <div class="max-w-lg m-auto p-6 flex justify-between">
        <a mat-button href="" target="_blank" color="primary">
            <i class="fa-brands fa-github fa-2xl" title="GitHub"></i>
        </a>
        <a mat-button href="" target="_blank">
            <i class="fa-brands fa-linkedin fa-2xl"  title="LinkedIn"></i>
        </a>
        <a mat-button href="" target="_blank">
            <i class="fa-brands fa-discord fa-2xl"  title="Discord"></i>
        </a>
        <a mat-button href="" target="_blank">
            <i class="fa-brands fa-facebook fa-2xl"  title="Facebook"></i>
        </a>
        <a mat-button href="" target="_blank">
            <i class="fa-brands fa-twitter fa-2xl"  title="Twitter"></i>
        </a>
    </div>

    <div class="text-center">
        © Copyright BecayeBalde 2022 | All rights reserved
    </div>
</div>