<header>
    <div class="p-1 w-full flex justify-between items-center z-20 border-b-2 border-gray-100 shadow-sm"
        style="border-bottom: 1px solid;">
        <app-brand></app-brand>
        <app-menu></app-menu>
    </div>
</header>

<main class="w-176 m-auto mb-5">

    <section>
        <!-- Overflow fixes the mess caused by float-right -->
        <div class="overflow-hidden mt-5">
            <!-- Post Header -->
            <div class="flex justify-between items-center mb-5">
                <!-- Author and post info -->
                <div class="flex">
                    <div class="w-16 h-16 mr-2">
                        <img class="rounded-full w-full h-full object-cover" [src]="avatar">
                    </div>
                    <div>
                        <h6 class="text-lg mt-1">Becaye Baldé</h6>
                        <!-- read time-->
                        <p class="-mt-1">{{ date |  date:'mediumDate' }}</p>
                    </div>
                </div>

                <!-- Share on Social Media -->

            </div>

            
            <!-- Tiny Editor -->
            <!-- Post Meta information: Title, Image, Description -->
            <h2>Post Metadata: Title, Image, Excerpt</h2>
            <div id="tiny-edit-post-metadata"></div>
            
            <!-- Template & help buttons -->
            <div class="mb-3 overflow-hidden">
                <!-- Help -->
                <button *ngIf="isShowHelp" mat-raised-button [color]="'secondary'" (click)="showEditorHelp()"
                    class="float-right my-5 py-1 px-2 text-lg hover:opacity-80">
                    Show Help
                </button>
                <button *ngIf="!isShowHelp" mat-raised-button [color]="'secondary'" (click)="hideEditorHelp()"
                    class="float-right my-5 py-1 px-2 text-lg hover:opacity-80">
                    Hide Help
                </button>
                
                <!-- Template -->
                <button *ngIf="isShowTemplate" mat-raised-button [color]="'secondary'" (click)="showTemplate()"
                    class="float-right my-5 mr-2 py-1 px-2 text-lg hover:opacity-80">
                    Show Template
                </button>
                <button *ngIf="!isShowTemplate" mat-raised-button [color]="'secondary'" (click)="showTemplate()"
                    class="float-right my-5 py-1 px-2 text-lg hover:opacity-80">
                    Hide Template
                </button>

            </div>
            
            <!-- Post Image -->
            <h2>Post Content</h2>
            <div id="tiny-edit-post-content"></div>

            <!-- Submit & help buttons -->
            <div class="mb-5 overflow-hidden">
                <button mat-raised-button [color]="'primary'" (click)="onSave()"
                    class="float-right ml-4 mt-5 py-1 px-2 text-lg hover:opacity-80">
                    Save Post
                </button>
                <button *ngIf="isShowHelp2" mat-raised-button [color]="'secondary'" (click)="showEditor2Help()"
                    class="float-right my-5 py-1 px-2 text-lg hover:opacity-80">
                    Show Help
                </button>
                <button *ngIf="!isShowHelp2" mat-raised-button [color]="'secondary'" (click)="hideEditor2Help()"
                    class="float-right my-5 py-1 px-2 text-lg hover:opacity-80">
                    Hide Help
                </button>

            </div>
        </div>
    </section>

</main>


<app-footer></app-footer>