<header>
    <div class="p-1 w-full flex justify-between items-center z-20 border-b-2 border-gray-100 shadow-sm"
        style="border-bottom: 1px solid;">
        <app-brand></app-brand>
        <app-menu></app-menu>
    </div>
</header>

<main class="w-176 m-auto mb-5">

    <section>
        <!-- Overflow fixes the mess caused by float-right -->
        <div class="overflow-hidden mt-5">
            <!-- Post Header -->
            <div class="flex justify-between items-center mb-5">
                <!-- Author and post info -->
                <div class="flex">
                    <div class="w-16 h-16 mr-2">
                        <img class="rounded-full w-full h-full object-cover" [src]="avatar">
                    </div>
                    <div>
                        <h6 class="text-lg mt-1">Becaye Baldé</h6>
                        <!-- read time-->
                        <p class="-mt-1">06 May 2022 • 5min read</p>
                    </div>
                </div>

                <!-- Share on Social Media -->

            </div>

            <!-- Post title -->


            <!-- Post Image -->

            <!-- Tiny Editor -->
            <div id="tiny-edit-post"></div>

            <!-- Submit -->
            <button mat-raised-button [color]="'primary'" (click)="onUpdate()"
                class="float-right ml-10 mt-5 py-1 px-2 text-lg hover:opacity-80">
                Update post
            </button>
        </div>
    </section>

</main>


<app-footer></app-footer>