<div class="w-full border-2 border-gray-100">

    <!-- Subscribe -->
    <div class="relative w-full flex flex-col justify-center items-center p-4">
        <div>
            <h2 class="text-3xl underline decoration-sky-500">Want to hear more?</h2>
            <div>
                <p class="text-lg">Subscribe so you don't miss my latest projects and blog posts</p>
            </div>

            <form>
                <div class="flex">
                    <div class=" focus-within:p-1.5 focus-within:border-2 focus-within:border-white">
                        <mat-form-field class="bg-white h-14" appearance="outline">
                            <mat-label>Enter your email</mat-label>
                            <input type="email" matInput [formControl]="emailFormControl"
                                placeholder="Ex. positive@energy.com">
                            <mat-error class="mt-3.5" *ngIf="emailFormControl.hasError('email')">
                                Please enter a valid email address
                            </mat-error>
                        </mat-form-field>
                    </div>
    
                    <button mat-raised-button [color]="'primary'"
                        class="ml-10 space-y-1 space-x-3 text-lg hover:opacity-80">
                        Subscribe
                    </button>
                </div>
            </form>
        </div>

        <!-- TODO: Use a toast instead -->
        <div class="text-white mt-6 text-lg" *ngIf="false">
            Thank you!
        </div>
    </div>
</div>